@use "../base/variables" as *;

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: $unit-4;
    align-items: center;

    img {
        padding-block: min(10vh, #{$unit-4}); 
        width: 100%;
        max-width: 30rem;
    }
}

@media (max-width: 1150px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: $unit-2;
    }
}

@media (max-width: 650px) {
    .hero {
        gap: $unit-1;
    }
  }