@use "../base/variables" as *;

#myPage {
  min-height: calc(100vh - 65px);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: dense;
  align-items: flex-start;
  gap: $unit-2;

  #myTools {
    padding: $unit-2;
    margin-bottom: $unit-4;
    
    .tools {
      display: flex;
      flex-direction: column;
    }

    .tool {
      padding: $unit-1;
    }
  }
  #submitTool, #updateTool {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    max-width: none;
    gap: $unit-05;

  }

  .myPageForms {
    display: flex;
    flex-direction: column;
    gap: $unit-2;
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #myPage {
    grid-template-columns: 1fr;
    #myPageForms {
      grid-column: 1;
      flex-direction: row;
      flex-wrap: wrap;
    }
    }
}

@media (max-width: 745px) {
  #myPage {
    grid-template-columns: 1fr;
    #myPageForms {
      grid-column: 1;
      flex-direction: column;
    }
    #myTools {
      grid-column: 1;
      padding: $unit-1;
    }
  }
}