@use "../base/variables" as *;

nav {
    position: static;
    top: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    z-index: 5;
    background-color: var(--foreground-color);

    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        display: inline-flex;
        justify-content: space-evenly;
        padding: $unit-1;
        margin: 0;
    }

    a {
        font-weight: 400;
        text-decoration: none;
        color: inherit;
        border-radius: var(--border-radius);

        &:hover, &:focus {
            text-decoration: none;
        }
    }
    
    #nav-links {
        margin-left: auto;
    }

    .active {
        font-weight: 700;
    }
    
    .nav-logo {
        vertical-align: bottom;
        width: $unit-2;
        height: $unit-2;
        margin: $unit-1 $unit-1;
        filter: var(--filter-primary);
    }
    
    .nav-logo:hover, .nav-logo:focus {
        filter: var(--filter-primary-dark);
    }

}
