@use "../base/variables" as *;

.toolbox {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  gap: $spacing-xs;
  padding-bottom: $spacing-m;


  input[type="radio"] {
    display: none;
  }
}

  .tools {
    display: none;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-s;
    order: 1;
    


  input[type="radio"]:checked + label {
    background-color: var(--color-primary);
  }

  input[type="radio"]:checked + label + .tools {
    display: grid;
  }
}

@media (max-width: 1150px) {
  .toolbox .tools {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .toolbox .tools {
    grid-template-columns: repeat(1, 1fr);
  }
}