@use "../base/variables" as *;

.arrow {
    position: relative;
    width: $unit-2;
    height: $unit-2;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    display: none;
    padding: 0;
    border-color: transparent;
    border-width: 2px;

    &:hover,
    &:focus {
    border-width: 2px;
    border-color: transparent;
    }

    &::before {
        content: "";
        background-image: url("../images/icons/mdi_arrow-down.svg");
        background-repeat: no-repeat;
        filter: var(--filter-primary);
        position: absolute;
        inset: 0;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@media (max-width: 650px) {
    .arrow {
        display: block;
    }
}
