@use "../base/variables" as *;

.notifications {
  display: flex;
  flex-direction: column;
  gap: $unit-1;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: $unit-5;
  left: 50%;
  transform: translatex(-50%);

  .notification {
    font-size: 0.8rem;
    padding: $unit-05;
    width: fit-content;
  }
}