@use "../base/variables" as *;

.tool {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground-color);
  padding: $spacing-m;
  border-radius: $border-radius;
  width: 100%;
  max-width: 25em;
  border: 1px solid var(--font-color);

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  a {
    margin-top: auto;
  }
}
